.card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    justify-content: center;
}

.card2 {
    width: 180px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;   /* cerchio sopra, nome sotto */
    justify-content: center;  /* centra verticalmente */
    align-items: center;      /* centra orizzontalmente */
    gap: 15px;
}

/* CERCHIO */
.cerchio {
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
}

/* Testo centrato */
.card2 p {
    text-align: center;
}
