.box1{
    background-color:green;
    height: 50px;
    width:50px;
    position:relative;
}
.box2{
    background-color:red;
    height: 50px;
    width:50px;
    position: absolute;
    top : 40px;
    left: 40px;
}
.box3{
    background-color:yellow;
    height: 50px;
    width:50px;
    position: sticky; 
    top : 0px;
    left: 0px;
}