.quadrato{
    background-color: red;
    height: 200px;
    width:200px;
    margin-block: 50px;
    margin-left: 200px;
}
.quadrato1{
    background-color: blue;
    height: 200px;
    width:200px;
    margin-left: 200px;
}

.quadrato2{
    background-color: blue;
    height: 200px;
    width:200px;
    margin-block: 50px;
    margin-left: 200px;
    padding-top: 100px;
}

.quadrato3{
    background-color:green;
    height: 80px;
    width:80px;
    margin-left: 60px;
    padding-top: 20px;
    
}
img{
    width: 200px;
    height: 200px;
}



